@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* border: solid 1px rgba(0, 0, 0, 0.42);  */
    box-sizing: border-box; 
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Roboto Slab', serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
}

.hr {
    background-image: url("../assets/hr-img.png");
    background-repeat: repeat;
    height: 13px;
}

header {
    height: 115px;
}

.author-share {
    height: 120px;
}

footer {
    height: 200px;
}

.article-title {
    height: 150px;
}

.photo-and-copy img {
    width: 100%;
}

.copy {
    text-indent: 30px;
    font-weight: 300;
    font-size: .78rem;
    letter-spacing: .026rem;
    line-height: 180%;
}
p {
    margin-bottom: 25px;
}
.recipe {
    background-image: url("../assets/list-bg.png");
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 47px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid 1px rgb(220, 220, 220);
    border-right: solid 1px rgb(220, 220, 220);
    border-left: solid 1px rgb(220, 220, 220);
}

ul {
    list-style-type: none;
}

footer {
    background-color: olive;
}
input[type="checkbox"] {
margin-right: 10px;
margin-left: 20px;
}